<footer class="footer">
    <div class="footer-left">
        <h3>HAZBIN</h3>
        <p>Sua loja de rituais,<br>criaturas e livros. Voltado<br>para o público mágico<br>underground</p>
    </div>

    <div class="footer-center">
        <h4>Ajuda</h4>
        <a href="#">Políticas de privacidade</a>
        <a href="#">Termos de serviço</a>
        <a href="#">FAQ</a>
    </div>

    <div class="footer-right">
        <h4>Redes sociais</h4>
        <div class="social-icons">
            <a href="#" class="social-link">
                <img src="/img/instagram.png" alt="Instagram">
            </a>
            <a href="#" class="social-link">
                <img src="/img/twitter.png" alt="Twitter">
            </a>
            <a href="#" class="social-link">
                <img src="/img/facebook.png" alt="Facebook">
            </a>
        </div>
    </div>
</footer>